<!DOCTYPE HTML>
<html><head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title tt="toolname"></title>
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://tools-static.wmflabs.org/magnustools/resources/html/wikimedia.css">
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/2.5.7/vue.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://tools-static.wmflabs.org/magnustools/resources/js/wikidata.js"></script>
<script src="https://tools-static.wmflabs.org/tooltranslate/tt.js"></script>
<script src="https://tools-static.wmflabs.org/magnustools/resources/js/flickr2commons.js"></script>

<style>

div.candidate-row:nth-child(even) {background-color: #EEE}
div.candidate-row:nth-child(odd) {background-color: none}

h3.existing_files {
	border-top:1px dotted #62A9FF;
	margin-top:3px;
	font-size:12pt;
	font-family:Arial,Courier;
	color:#62A9FF;
}
div.exiting_file_box {
	display:inline-block;margin-right:0.2em;vertical-align:top;
}
div.wd_item_box {
	border-bottom:1px solid #DDD;
	padding:2px;
}
div.wd_item_box:last-child {
	border-bottom:none;
}
.side_button_bar_fixed {
	position:fixed;
	left:10px;
	top:10px;
	width:50px;
}
div.file-title {
	font-weight:bold;
	font-family:Charter,Verdana,Times New Roman;
}
div.file-candidate-row {
	margin-top:5px;
	padding-top:5px;
	border-top:1px dotted #DDD;
}
div.file-candidate-row:first-child {
	border-top:0px !important;
}
div.file-candidate-row-busy {

}
div.file-candidates-container {
	padding-right:20px;
	width:100%;
/*
	max-height:500px;
	overflow-x:hidden;
	overflow-y:auto;
*/
}
.file_description_text {
	font-size:9pt;
	font-family:Charter,Verdana,"Times New Roman";
	line-height:1.1em;
}
div.file_description_cell_flickr {
	background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flickr_logo.png/40px-Flickr_logo.png) bottom right no-repeat !important;
}
div.file_description_cell_commons  {
	background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png) bottom right no-repeat !important;
}
.reload {
	font-family:Lato,Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size:16pt;
}
</style>

</head>

<body>

<div id='app' class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style='margin-right:10px;'>
		<a href='#/' class="navbar-brand" tt='toolname'></a>
      </li>

      <li class="nav-item active">
		<div class='' id='tooltranslate_wrapper'></div>
      </li>

    </ul>

   	<widar></widar>
    <search-box></search-box>
    <a style="margin:0px;padding:0px;margin-top:4px;margin-left:10px;" href="/" target='_blank'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Toolforge_logo.svg/32px-Toolforge_logo.svg.png" tt_title="wmf_powered" border="0" width="32px"></a>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>
</nav>


<router-view><i tt='loading'></i></router-view>
</div>

</body>


<template id='set-commons-file-on-wikidata-template'>
	<div v-if='!hide'>
		<div v-if='widar.is_logged_in' class="btn-group" role="group">
			<span v-if='file.file_type=="VIDEO" || file.file_type=="AUDIO"'></span>
			<button v-else class="btn btn-outline-success" tt='image' @click.prevent='addFileToItem("P18")'></button>
			<div v-for='(props,group) in media_props' class="dropdown">
				<div v-if='group!="video" && file.file_type=="VIDEO"'></div>
				<div v-else-if='group!="audio" && file.file_type=="AUDIO"'></div>

				<div v-else-if='group=="video" && file.file_type!="VIDEO"'></div>
				<div v-else-if='group=="audio" && file.file_type!="AUDIO"'></div>

				<button v-else-if='props.length==1' v-for='prop in props' class="btn btn-outline-secondary" @click.prevent='addFileToItem(prop.p)'>{{prop.label}} <small>[{{prop.p}}]</small></button>

				<div v-else>

				  <a href='#' class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{group}}</a>
				  <div class="dropdown-menu">
				    <a v-for='prop in props' class="dropdown-item" href="#" @click.prevent='addFileToItem(prop.p)'>{{prop.label}} <small>[{{prop.p}}]</small></a>
				  </div>
				</div>
			</div>
			<sdc-link :q='q' :filename='file.json.title'></sdc-link>
		</div>
		<div v-else>
			<i tt='log_into_widar'></i> <a href='#' @click.prevent='checkWidar' class='reload' accesskey='r'>⟳</a>
		</div>
	</div>
</template>


<template id='file-candidate-template'>
	<div v-if='!hide' :class='"row file-candidate-row"+(is_busy?" file-candidate-row-busy":"")'>
		<div class='col-sm-2' style='text-align:center'>
			<span v-if='thumbnail_url!=""'>
				<a :href='page_url' target='_blank'>
					<img :src='thumbnail_url' style='max-width:100px;' border='0' />
				</a>
			</span>
			<span v-else tt='loading'></span>
		</div>
		<div :class='"col-sm-10 "+file_description_cell_class' >
			<div style='float:right;padding:3px;'>
				<a href='#' style='font-size:16pt;color:red;' @click.prevent='skipCandidate' :file_id='file.id' tt_title='skip_file_item'>✘</a>
			</div>
			<div v-if='file.source=="COMMONS"'>
				<div class='file-title'>{{file.json.title.replace(/^File:/,'').replace(/\.[^.]+$/,'')}}</div>
				<set-commons-file-on-wikidata :q='q' :file='file'  @hidecommonsfile='hideCommonsFile($event)'></set-commons-file-on-wikidata>
			</div>
			<div v-else-if='file.source=="FLICKR"'>
				<div class='file-title'>{{ii.title}}</div>
				<div v-if='description!=""' class='file_description_text' style='max-height:200px;overflow:auto;'>{{description}}</div>
				<div v-if='flickr.new_filename_on_commons=="" && flickr.status==""'><a href='#' target='_blank' class='external' tt='transfer_flickr2commons' @click.prevent='showFlickrComponents'></a></div>
				<div v-if='flickr.error!=""' style='color:red' v-html='flickr.error'></div>
				<div v-if='flickr.status!=""'><tt>{{flickr.status}}</tt></div>
				<div v-if='flickr.new_filename_on_commons!=""'>
					<span tt='filename_on_commons'></span>
					<a target='_blank' class='wikipedia' :href='"https://commons.wikimedia.org/wiki/File:"+encodeURIComponent(flickr.new_filename_on_commons)'>{{flickr.new_filename_on_commons}}</a>
				</div>
				<div v-if='q=="0"' tt='no_item_yet'></div>
				<div v-else-if='flickr.show_components'>
					<form class='form-inline'>
						<div class='row'>
							<div class='col-sm-8'>
								<select name='property' v-model='flickr.property' class='form-control' style='font-size:9pt;'>
									<option v-for='(label,prop) in media_prop2label' :value='prop'>{{label}} [{{prop}}]</option>
								</select>
							</div>
							<div class='col-sm-3'>
								<button class='btn btn-outline-primary' tt='set_file_for_property' @click.prevent='setFileForProperty'></button>
							</div>
						</div>
					</form>
					<sdc-link :q='q' :filename='"File:"+flickr.new_filename_on_commons'></sdc-link>
				</div>
			</div>
			<div v-else><i>Can't render file source {{file.source}}</i></div>
		</div>
	</div>
</template>

<template id='autodesc-template'>
<div v-if='typeof q!="undefined"'>
<span v-if='loaded' class='autodesc_description'>{{auto}}</span>
<span v-else><i tt="loading"></i></span>
</div>
</template>

<template id='candidate-item-template'>
	<div>
		<div style='float:right;'>
			<button class='btn btn-outline-danger' tt_title='mark_all_unsuitable' @click.prevent='skipAllFiles'>✘</button>
		</div>
		<div><wdlink :q='q'></wdlink></div>
		<div v-if='taxon_name!="" && taxon_name!=label' style='font-size:8pt;'>(<i>{{taxon_name}}</i>)</div>
		<div v-if='address!=""' style='font-size:8pt;'>{{address}}</div>
		<div v-if='desc!=""'>{{desc}}</div>
		<div style='font-size:9pt;font-family:Charter,Verdana,Times New Roman;'>
			<autodesc :q='q'></autodesc>
		</div>
		<div v-for='(files,prop) in has_files'>
			<h3 class='existing_files'>{{media_prop2label[prop]}}</h3>
			<div class='exiting_file_box' v-for='file in files'>
				<a :href='"https://commons.wikimedia.org/wiki/File:"+encodeURIComponent(file)' target='_blank' tt_title='file_already_used_in_item'>
					<img :src='"https://commons.wikimedia.org/wiki/Special:Redirect/file/"+encodeURIComponent(file)+"?width=100"' border=0 />
				</a>
			</div>
		</div>
	</div>
</template>

<template id='candidate-row-template'>
	<div v-if='!hide' class='row'>
		<div class="col-lg-3 col-md-12" style='vertical-align:top'><candidate-item :q='q' v-on:hide_item='hide=true'></candidate-item></div>
		<div class="col-lg-9 col-md-12" style='vertical-align:top; clear: both; border-top:1px dotted #DDD;'>
			<div class='file-candidates-container'>
				<file-candidate v-for='file in files' :q='q' :file='file'></file-candidate>
			</div>
		</div>
	</div>
</template>

<template id='candidate-list-template'>
	<div>
		<div>
				<div class='candidate-row' is='candidate-row' v-for='(files,q) in data' :q='q' :files='files' :key='q'></div>
		</div>
	</div>
</template>

<template id='main-candidates-parameters-template'>
	<div id='main-candidates-parameters' class='row' style='margin-top:5px;margin-bottom:5px;'>
		<div class='col-sm-1'>
			<div id='side_button_bar'>
				<button class='btn btn-outline-secondary' style='font-size:20pt;width:100%' @click.prevent='expandHandler' tt_title='expand_hide' accesskey='p'>{{is_expanded?'⨉':'⚙'}}</button>
				<button class='btn btn-outline-secondary' style='font-size:20pt;width:100%' @click.prevent='reloadHandler' tt_title='referesh' accesskey='r'>⟳</button>
			</div>
		</div>
		<div class='col-sm-11'>
			<div v-if='is_expanded'>
				<form class='form'>
					<div v-for='(param_url,param_object) in p.csv_params'>
						<div v-if='typeof metadata.field_values[param_url]!="undefined"' class='row'>
							<div class='col-sm-2' :tt='"param_"+param_url'>{{param_url}}</div>
							<div class='col-sm'>
								<div class="btn-group-toggle" data-toggle="buttons">
									<label v-for='fv in metadata.field_values[param_url].values' v-if='fv!="NONE" && isValidOption(param_url,fv)' :class='"btn btn-light"+(cb_state[param_url][fv]?" active":"")' @click.prevent='updateParameterCheckbox(param_object,fv)'>
										<input type="checkbox" autocomplete="off" v-model='cb_state[param_url][fv]'> {{getParamLabel(param_url,fv)}}
									</label>
								</div>
							</div>
						</div>
					</div>
					<div v-for='(param_url,param_object) in p.string_params' class='row'>
						<div class='col-sm-2' :tt='"param_"+param_url'>{{param_url}}</div>
						<div class='col-sm'>
							<textarea v-if='param_object=="sparql"' v-model='p.data[param_object]' class='form-control' style='width:100%' rows=3 tt_placeholder='placeholder_sparql'></textarea>
							<input v-else type='text' v-model='p.data[param_object]' class='form-control' />
						</div>
					</div>
				</form>
			</div>
			<div v-else class='lead'><span :tt='p.main_tt'></span></div>
		</div>
	</div>
</template>


<template id='wd-item-box-template'>
	<div class='wd_item_box' style='display:table-row;'>

		<div style='display:table-cell;vertical-align:top'>
			<div>
				<wdlink :q='q'></wdlink>
			</div>
			<div class='file_description_text'>
				<autodesc :q='q'></autodesc>
			</div>
		</div>

		<div style='display:table-cell;vertical-align:top'>
			<div v-if='use_item_link' style='text-align:right;white-space:nowrap'>
				<small>[<a href='#' @click.prevent='useItem(q)' tt='use_item'></a>]</small>
			</div>
			<div v-if='typeof i != "undefined"'>
				<div v-if='img_url!=""'>
					<a :href='"https://commons.wikimedia.org/wiki/File:"+encodeURIComponent(img)' target='_blank'>
						<img :src='img_url' border=0 />
					</a>
				</div>
			</div>
		</div>

	</div>
</template>


<template id='new-item-template'>
	<div>
		<div v-if='q!="0"'>
			<wd-item-box :q='q'></wd-item-box>
		</div>
		<div v-else>
			<div><input type='text' class='form-control' v-model='query' @keyup='handleChange' @keyup.escape='query="";handleChange()' tt_placeholder='type4search' /></div>
			<div v-if='searching>0'><i tt='searching'></i></div>
			<div v-else-if='results.length>0 && searching==0' style='padding:0px;border:1px solid #DDD'>
				<wd-item-box v-for='r in results' :q='r.id' :use_item_link='1' @useq='useQ($event)'></wd-item-box>
			</div>
			<div v-else-if='searching==0 && results.length==0 && query!=""'>
				<i tt='no_results'></i>
			</div>
			<div v-if='widar.is_logged_in' style='margin-top:5px;'>
				<button class='btn btn-outline-success' @click.prevent='createNewItem'>Create new item</button>
				<a v-if='query!=""' target='_blank' class='btn btn-primary' :href='"https://www.wikidata.org/w/index.php?title=Special:Search&go=Go&search="+encodeURIComponent(query)'>Search on Wikidata</a>
			</div>
<!--			<div v-if='!widar.is_logged_in' tt='log_into_widar'></div>-->
		</div>
	</div>
</template>

<template id='candidate-item-row-template'>
	<tr v-if='!hide'>
		<td style='vertical-align:top;max-width:420px;min-width:350px'>
			<new-item :q='q' v-on:hide_item='hide=true' @useq='useQ($event)'></new-item>
		</td>
		<td style='vertical-align:top;width:100%;'>
			<div class='file-candidates-container'>
				<file-candidate :q='q' :file='file'></file-candidate>
			</div>
		</td>
	</tr>
</template>

<template id='candidate-item-list-template'>
	<div>
		<table class='table table-condensed table-striped'>
			<tbody>
				<tr is='candidate-item-row' v-for='file in data' :file='file'></tr>
			</tbody>
		</table>
	</div>
</template>

<template id='stats-template'>
<div>
	<div v-if='loaded'>
		<table class='table'>
			<thead>
				<tr>
					<th tt='group'></th>
					<th v-for='status in statuses'>
						{{status}}
					</th>
					<th tt='total'></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for='group in group_names'>
					<th>
						<span v-if='group[0]=="#"'>
							<div><router-link :to="'/proposed_items/?group='+group">{{group}}</router-link></div>
							<div><small tt='proposed_items'></small></div>
						</span>
						<span v-else>
							<router-link :to="'/candidates/?group='+group">{{group}}</router-link>
						</span>
					</th>
					<td v-for='status in statuses'>
						<span v-if='typeof totals[group][status]!="undefined"'>
							<div>{{addCommas(totals[group][status])}}</div>
							<small v-for='(count,source) in data[group][status]'>
								<tt>{{source}}</tt>:{{addCommas(count)}}
							</small>
						</span>
						<span v-else>
							0
						</span>
					</td>
					<td>
						{{addCommas(all_total[group])}}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th tt='total'></th>
					<td v-for='status in statuses'>
						{{addCommas(total_overall[status])}}
					</td>
					<td>{{addCommas(total_overall.total)}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div v-else>
		<i tt='loading'></i>
	</div>
</div>
</template>

<template id='proposed-items-template'>
	<div>
		<main-candidates-parameters :p='p' v-on:update_route='init(true,$event)' :hashgroups='1'></main-candidates-parameters>
		<div v-if='loading' tt='loading'></div>
		<div v-else-if='error!=""'>{{error}}</div>
		<div v-else>
			<candidate-item-list :data='data'></candidate-item-list>
		</div>
	</div>
</template>

<template id='main-candidates-template'>
	<div>
		<main-candidates-parameters :p='p' v-on:update_route='init(true,$event)'></main-candidates-parameters>
		<div v-if='warning!=""' class="alert alert-warning alert-dismissible fade show" role="alert">
			{{warning}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div v-if='loading' tt='loading'></div>
		<div v-else-if='error!=""'>{{error}}</div>
		<div v-else-if='data.length==0'><i>No results</i></div>
		<div v-else>
			<candidate-list :data='data'></candidate-list>
		</div>
	</div>
</template>


<template id='wdlink-template'>
	<span>
		<span v-if='typeof q=="undefined"'>!!!</span>
		<span v-else-if='q==0'>???</span>
		<span v-else>
			<a :href="'https://www.wikidata.org/wiki/Q'+qnum" target="_blank" :title="'Q'+qnum" class="wikidata wikidata_item" :q="'Q'+qnum">{{label}}</a>
			<small v-if='q!=label'>[Q{{qnum}}]</small>
		</span>
	</span>
</template>

<template id='widar-template'>
	<div style='margin-left:5px;margin-right:5px;text-align:center' v-if="loaded">
		<div v-if='is_logged_in' style='line-height:1.4em'><span tt="welcome"></span><br/><userlink :username="userinfo.name"/></div>
		<div v-else><i tt="log_into_widar"></i></div>
	</div>
</template>

<template id='main-page-template'>
	<div>
		<div class='lead' tt='main_lead'></div>
		<div>
			<ul>
				<li><a href='#/candidates' tt='mp_all_candidates'></a></li>
				<li><a href='#/candidates/?group=SPECIES' tt='mp_species'></a></li>
				<li><a href='#/candidates/?source=COMMONS&group=HUMAN' tt='mp_people'></a></li>
				<li><a href='#/proposed_items/' tt='proposed_items'></a></li>
				<li><a href='#/stats/' tt='stats'></a></li>
			</ul>
		</div>
		<div><i style='font-size:9pt;' tt='hint_config'></i></div>
	</div>
</template>

<template id='sdc-link-template'>
	<div v-if='!depicts_is_set' style='margin-left:0.5rem;font-size:8pt;'>
		<div v-if='error!=""'>&nbsp;&nbsp;&nbsp;{{error}}</div>
		<div v-else>
			<a href='#' @click.prevent='add_prominent'><b tt='sdc_add_prominent'></b></a> |
			<a href='#' @click.prevent='add_default'><span tt='sdc_add_default'></span></a>
		</div>
	</div>
</template>

<script src="vue.js"></script>

</html>