<link rel="stylesheet" type="text/css" href="./main.css" />
<script src="resources/js/wikidata.js"></script>

<div class="row">
	<div class="span9" style='margin-top:10px'>
		
		<div id='tusc_container_wrapper'></div>

		<form class="well form-inline" id='theform'>

			<div>
			This tool can help you to add images to Wikidata.
			Sign into <a href='/widar' target='_blank'>WiDaR</a> to add images with a single click!
			</div>

			<formset>
				<table class='table table-condensed'>
					<tr>
						<th class='span5'>Project</th>
						<td style='vertical-align:bottom'>
							<input type='text' class='span2' id='language' rel='tooltip' title='Language of the project' value='en' /> . 
							<input type='text' class='span3' id='project' rel='tooltip' title='Base project' value='wikipedia' /> . org
						</td>
					</tr>
					<tr>
						<th class='span5'>Category</th>
						<td style='vertical-align:bottom;width:100%'>
							<input type='text' class='span4' id='category' rel='tooltip' title='Category name, without prefix' />
							, depth
							<input type='number' class='span1' id='depth' rel='tooltip' title='Depth to search the category; 0=only that category, -1=unlimited (careful!)' value='3' />
						</td>
					</tr>
<!--					<tr>
						<th class='span5'>OR single Flickr photo ID</th>
						<td><input type='text' class='span6' id='photo_id' rel='tooltip' title='Insert the numeric Flickr photo ID here. Only used when no user ID/name or photoset is entered.' /></td>
					</tr>
					<tr>
						<th class='span5'>Max pictures</th>
						<td><input type='text' class='span6' id='max_pics' rel='tooltip' title='Gets only the first N pictures from Flickr. Leave blank for "unlimited".' />
						</td>
					</tr>-->
					
					
					<tr>
						<th>Options</th>
						<td>
<!--							<label><input type='checkbox' id='show_existing_images' checked /> Show existing images</label><br/>-->
							<label><input type='checkbox' id='show_articles_with_existing_images' /> Show articles with existing images</label><br/>
							<label><input type='checkbox' id='show_articles_without_candidates' /> Show articles without candidates</label>
						</td>
					</tr>
					
				</table>
			</formset>
			

			<div style='text-align:right'>
				<button id='b_run' class='btn-primary' onclick='fist.runTool();return false'><i class='icon-play icon-white'></i> Run</button>
			</div>

		</form>

	</div>
<!--	<div class="span3">
		<h3>Examples</h3>
		<div class='well'>
			<ul class='nav'>
				<li><a href='#' onclick='showExample("Computational Biology");return false'>Computational Biology</a></li>
				<li><a href='#' onclick='showExample("spaceflight");return false'>Spaceflight</a></li>
			</ul>
		</div>
	</div>-->
</div>


<div class="row" id='result_container'>
	<div class="span12" id='loading' style='display:none'>
		<span class="label label-info" id='loading_pages'></span>
		<span class="label label-info" id='loading_existing'></span>
		<span class="label label-info" id='loading_wikidata'></span>
	</div>
	<div class="span12" id='results' style='display:none'></div>
</div>

